<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>AgrumeStly's Homepage</title>
	<meta name="description" content="Leading digital agency providing professional web design development and digital marketing services.">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <style>
		html {
  			background-color: #efefef;
			}
		#main {
    			text-align: center;
    			padding-top: 40.5vh;
                font-size: 40px;
                color: #636363;
			}
	</style>
</head>
	
<body>

<div class="layout">
	<p id="main">Hi! I'm AgrumeStly!</p>
</div>

	<div class="user-details">
<h2> Me and this website </h2>
<p style="text-align: justify;"> Your description </p>
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clustrmap.html style="js" %}
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div>
</div>
<div class="permlinks">
<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Upcoming Posts (edit me at /index.html )</h2>
<ul>
	<li>Post 1</li>
	<li>Post 2</li>
</ul>

</div >
</body>
</html>
